.app-heading {
    font-size: 40px;
    font-family: Cursive;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color:  #993399
    /* background-color:#ff99ff; */
  }

.close-icon {
  float:right;
  margin-right: 20px;
  cursor: pointer;
  font-size: larger;
}
.input-align {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

